p {
  text-align: center;
  color: rgb(245, 2, 2);
  font-size: 70px;
  lighting-color: darkolivegreen;
  text-decoration: forestgreen;
  font-weight: 700;
}
img {
  width: 600px;
  height: 580px;
  display: block;
  margin: auto;
  outline-style: dotted;
  outline-color: forestgreen;
  outline-width: 6px;
  border: gold;
  visibility: visible;
  margin-top: 23px;
  margin-bottom: 21px;
  box-shadow: 30px 30px 50px blue;
  /* image-orientation: flip; */
}

img:hover {
  transform: scaleX(-1);
}
li {
  padding-top: 50px;
  color: rgb(3, 3, 235);
  display: block;
  margin: auto;
  width: 300px;
  text-align: center;
  text-shadow: 8px 7px 2px dimgray;
  font-size: 65px;
  font-family: fantasy;
  font-weight: bolder;
  background-color: rgb(180, 180, 14);
}
body {
  background-color: lightskyblue;
}
.button {
  width: 100px;
  padding: 20px;
  margin: 20px auto;
  text-align: center;
  background-color: rgb(20, 197, 20);
  cursor: pointer;
}
.button:hover {
  background-color: greenyellow;
}
.container {
  display: flex;
  flex-wrap: wrap;
}
.auto_image:hover {
  transform: scale(2);
  opacity: 1;
  transition: all 0.5s ease-in-out 0.3s;
}
.auto_image {
  opacity: 0;
}
.cover {
  background-image: url("cover.jpeg");
  background-size: cover;
  min-height: 700px;
}
